{{!-- Email subscribe form at the bottom of the page --}}

{{#if @labs.subscribers}}
<div class="bottom-subscribe col s12 m7">
    <h5>Newsletter {{@blog.title}}</h5>
    <p>Obter as últimas mensagens entregues direito à sua caixa de entrada.</p>

    {{subscribe_form
    form_class="newsletter-form"
    input_class="form-control"
    button_class="btn btn-primary"
    placeholder="Enter your email address"
    autofocus=""
    }}
</div>
{{/if}}
